@media only screen and (min-width: 1000px) {
      nav button {display: none;}
    
    nav ul#primaryNav {
        display: flex;
        margin-inline-end: 0.75em;
        gap: var(--gap, 7rem);
    }
    
    #grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

}